
body {
  background-color: black;
  color: white;
}

.header {
  color: #373137;
  font-size: 450%;
  font-weight: bold;
  letter-spacing: 6px;
}

hr {
  height: 1px;
  color: #6f626f;
  background-color: #6f626f;
  border: none;
}

.resumetitle {
  color: #ada2ad;
  font-size: 150%;
  text-align: center;
  letter-spacing: 4px;
  font-variant: small-caps;
}

.resume {
  color: #968896;
  text-align: center;
  font-size: 150%;
  letter-spacing: 3px;
  font-variant: small-caps;
}

.topten {
  color: #dcd7dc;
  text-align: left;
  font-size: 175%;
  letter-spacing: 5px;
}

.toptensub {
  color: #dcd7dc;
  font-size: 92%;
  font-weight: lighter;
  font-style: oblique;
}

.artist {
  color: #ada2ad;
  padding-left: 25px;
  letter-spacing: 3px;
}

.smtitle {
  font-size: 150%;
  text-align: center;
  letter-spacing: 4px;
}

.cat {
  height: 322px;
  weight: 271px;
  float: left;
  padding-top: 50px;
  padding-left: 150px;
}

.question {
  color: #d0cad0;
  text-align: center;
  letter-spacing: 3px;
}

.answer {
  color: #615661;
  text-align: center;
}

.list {
  color: #8b7b8b;
  text-align: center;
  letter-spacing: 4px;
}

.question4 {
  padding-left: 150px;
}

.question5 {
  padding-right: 125px;
}

.question6 {
  padding-right: 325px;
}

.question7 {
  padding-right: 625px;
}
